
<div class="abt_me_text">
	<p>Frank did not receive any cameras for his birthday, nor did his
	parents hand down any SLR for him. Growing up, Frank played with lego
	and "goli" (marbles) more than lenses, and enjoyed reading Doremon and
	Lao Fu Zi to train his eyes for interesting images. He has been given
	a joyful spirit, an eye for details, a quirky sense of humour, quick
	pairs of hands and legs (good for finding THE position for snapping
	THE shots). Above all, he has a big appetite for all things!
	(Literally!)
	</p>
	<br>
	<p>Blessed with a wonderful wife and 2 beautiful kids, he enjoys the
	occasional game of squash, the relaxing glass of wine, the creativity
	of anime and most of all, capturing on camera the moments that we can
	treasure forever.
	</p>

	<blockquote><i>
	<br>“As music pleases our ears and stirs our hearts,
	<br>As food draws our saliva and melts our mouths,
	<br>Pictures should move our souls and sooth our spirits.”
	</i></blockquote>
	
</div>

<div class="abt_me_image">
	<img src="/images/abt_me.jpg" width="600px">
	<p class="award_txt">
		24 Seven Heartland Beats Photography Competition, Distinction Award.
	</p>
	<p>&nbsp;</p>
	
</div>
 

